.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  min-height: 100vh;
  /* background-color: rgba(1, 1, 1, 1); */
  /* background-image: linear-gradient(to bottom right, #f7bb97, #dd5e89); */
}

.title {
  font-size: 3rem;
  margin-top: 0.1rem;
  margin-bottom: 0;
  color: #fff;
}

.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.navbarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbarItem {
  margin: 0 1rem;
  font-weight: bold;
}

.navbarButton {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ddd;
  color: #3d3d3d;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: background-color 0.2s ease-in-out;
}


.navbarItem a.active {
    font-weight: bold;
    color: #cf3a6c;
    background-color: #e1a0b6;
  }

.navbarButton:hover {
  background-color: #bbb;
}

.content {
  margin-top: 5rem;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
 /* p {
  font-size: 1.5rem;
  color: #fff;
}  */
/* #root{
    width: 100%;
  } */

/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #f7bb97, #dd5e89);
  }
  
  .title {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
    color: #fff;
  }
  
  .navbar {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    display: flex;
    justify-content: center;
  }
  
  .navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbarItem {
    margin: 0 1rem;
  }
  
  .navbarLink {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .navbarLink:hover {
    background-color: #ddd;
  }
  
  .content {
    margin-top: 5rem;
    text-align: center;
  }
  
  p {
    font-size: 1.5rem;
    color: #fff;
  }
   */

/* 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #f7bb97, #dd5e89);
  }
  
  .navbar {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
  }
  
  .navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbarItem {
    margin: 0 1rem;
  }
  
  .navbarLink {
    text-decoration: none;
    color: #3d3d3d;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .navbarLink:hover {
    background-color: #ddd;
  }
  
  .content {
    margin-top: 5rem;
    text-align: center;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #fff;
  }
  
  p {
    font-size: 1.5rem;
    color: #fff;
  }
   */
