
.login-page {
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to bottom right, #f7bb97, #dd5e89); */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  background-color: #fff;
  max-width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}

label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #3d3d3d;
}

input {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #666;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

.login-button {
  padding: 1.2rem 3.5rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, #dd5e89, #f7bb97);
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.login-button:hover {
  background-image: linear-gradient(to bottom right, #f7bb97, #dd5e89);
}

/* body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #f7bb97, #dd5e89);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    background-color: #fff;
    max-width: 400px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  
  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #3d3d3d;
  }
  
  input {
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: #fff;
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
  }
  
  .error-message {
    color: red;
    margin-top: 1rem;
  }
  
  .login-button {
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, #dd5e89, #f7bb97);
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  }
  
  .login-button:hover {
    background-image: linear-gradient(to bottom right, #f7bb97, #dd5e89);
  }
  

 */
