.todos-container {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    max-height: 400px;
    overflow-y: auto;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  .sorting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sorting-container label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .todos-list {
    display: grid;
    gap: 10px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item span {
    color: #333;
  }

  
  
 
 
 /* .todos-container {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  .sorting-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sorting-container label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .todos-list {
    display: grid;
    gap: 10px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .todo-item span {
    color: #333;
  }
  
    */
